*{
    margin: 0 16px;
    padding: 24px 0;
}

.cabecalho{
    background-color:#A06B4C;
    color:white;
    display:flex;
    justify-content: space-around;
    padding: 24px 0;
    font-size: 24px;
}

.cabecalho-imagem{
    width:20%;
}

.cabecalho-lista-item{
    display: inline-block;   
}

.escola-imagem{
    width:25%;
}

.escola{
    background-image: linear-gradient(#A06B4C,#FFFFFF);
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.escola-conteudo{
    width:35%
}

body{
    font-family: 'Poppins' ,sans-serif;
}

.estudante-imagem{
    width: 140px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}